
$spacing: 22px;
$offcanvas-width: 325px;

$radius-base: 8px;
$radius-large: $radius-base * 1.75;
$radius-small: $radius-base / 2;

$time-slow: .5s;
$time-fast: .1s;

$layer-bottom: 1;
$layer-top: 999;

$admin-menu-width: 17em;
