
.reponsiveTestClass {text-align:right;}

@media all and (max-width: 899px) {
	body.responsive, html , .responsive #personalArea{
		font-size: 13px;
		line-height: 14px;
	}
	.reponsiveTestClass {text-align:center;}

	.responsive #personalArea {
		line-height: 22px;
		font-size: 16px;
	}
	.responsive #personalArea i{
		line-height: 30px;
		font-size: 24px;
	}

	.responsive .notification-tooltip-container, .responsive .langswitch-tooltip-container {
		position: static;
	}

	.responsive #header {
		background: none;
		box-shadow: none;
		height: auto;
		.center {
			margin-left: auto;
		}
	}

	.responsive #logoContainer {
		overflow: visible;
	}

	.responsive .hiddenSmartphone, .responsive .debug, .responsive .stacktable, .responsive .stackcolumns {
		display:none;
	}

	.responsive .hiddenDesktop {
		display:block;
	}

	.responsive .mainmenu i {
		color: #fff;
		font-size: 23px;
		margin-left: 10px;
		line-height: 23px;
		vertical-align: middle;
	}

	.responsive #personalArea, .responsive #header, .responsive #footer {
		padding-right: 10px;
		padding-left: 10px;
	}

	.responsive #contentContainer {
		margin-right: 0px;
		margin-left: 0px;
		margin-top: 5px;
	}

	.responsive #personalAreaUser, .responsive #titles, .responsive #titles h1, .responsive #titles h2, .responsive:not(.simple-header) fieldset.settings dd, .responsive:not(.simple-header) fieldset.settings dt, .responsive.simple-header.mobile fieldset.settings dd, .responsive.simple-header.mobile fieldset.settings dt{
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		background:none;
	}

	.responsive #titles h1 {
		font-size: 30px;
		line-height: 30px;
	}

	.responsive #titles h2 {
		font-size: 20px;
		line-height: 18px;
	}

	.responsive .column {
		display: block;
	}

	.responsive .portal .second, .portal .first {
		padding: 0px;
	}

	.responsive:not(.simple-header) fieldset.settings dd {
		border-left: none;
		margin: 0px;
		float:none;
	}

	.responsive:not(.simple-header) fieldset.settings dt {
		width: 100%;
		border-right: none;
		float: none;
	}

	.responsive:not(.simple-header) fieldset.settings dl:hover dt, .responsive:not(.simple-header) fieldset.settings dl:hover dd, .responsive.simple-header.mobile fieldset.settings dl:hover dt, .responsive.simple-header.mobile fieldset.settings dl:hover dd{
		border-right: none;
		border-left: none;
	}

	.responsive .ui-dialog {
		max-width: 98%;
		height: auto !important;
	}

	.responsive .mce-toolbar[role="menubar"] {
		display: none;
	}

	.responsive:not(.simple-header) .ui-tabs-nav li, .responsive.simple-header.mobile .ui-tabs-nav li {
		float: none;
		width: 100%;
		height: 30px;
		line-height: 22px;
		font-size: 15px;
	}

	.responsive:not(.simple-header) .ui-tabs-anchor, .responsive.simple-header.mobile .ui-tabs-anchor {
		display: block;
	}

	.responsive:not(.simple-header) .settings input[type='text'], .responsive:not(.simple-header) .settings input[type='password'], .responsive:not(.simple-header) .settings select,
	.responsive.simple-header.mobile .settings input[type='text'], .responsive.simple-header.mobile .settings input[type='password'], .responsive.simple-header.mobile .settings select {

		width: 90% !important;
	}

	.responsive:not(.simple-header) .ui-tabs .ui-tabs-nav .ui-tabs-anchor, .responsive.simple-header.mobile .ui-tabs .ui-tabs-nav .ui-tabs-anchor {

		float: none;
	}

	.responsive .breamcrumb li, .responsive .breamcrumb li a:after, .responsive .breamcrumb li a:before {
		display: none;
	}

	.responsive .breamcrumb li:first-child, .responsive .breamcrumb li:nth-last-of-type(2) {
		display: inline;
	}

	.responsive .breamcrumb li:first-child a {
		border-right: 1px solid #1D1D1D;
		padding-right: 8px;
		padding-left: 8px !important;
	}

	.responsive .breamcrumb li {
		font-size: 14px;
	}

	.responsive .breamcrumb li:nth-last-of-type(2) a {
		padding-left: 22px;
	}

	.responsive .breamcrumb li:nth-last-of-type(2) a:before {
		content:"\f060";
		display:inline;
		border: none;
		padding:0;
		margin: 0;
		left: 5px;
		margin: 0;
		padding: 0;
		top: 11px;
		font-family: "FontAwesome";
	}

	.responsive .breamcrumb li:first-child a:before {
		display: none;
	}

	.responsive .medium, .responsive .button, .responsive input[type="submit"], .responsive input[type="button"],.responsive input[type="reset"], .responsive button, .responsive ui-dialog button {
		font-size: 14px;
		padding: .3em 1em .32em;
	}

	.responsive .contentWidth60, .responsive .contentWidth30 {
		width: auto;
	}

	.responsive .contentSideRight {
		float: none;
		clear: both;
		border: none;
		margin-left: 0;
		padding: 0;
		margin-bottom: 10px;
	}

	.responsive div.table:not(.noMobileTransform) {
		display: table;
	}

	.responsive button.ui-multiselect {
		width: auto !important;
	}

	.responsive.simple-header.mobile .floatRight {
		float: none;
	}
	.responsive div.leaderboard > div.floatLeft {
		float: none;
		width: 100% !important;
	}


	/* Mobile Navigation */
	.nav-mobile {
		background: #45484d; /* Old browsers */
		background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
		background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		width: 100%;
		min-height: 3em;
	}

	.nav-mobile > i {
		float: right;
		background-color: #fff;
		border-radius: 4px;
		color: #000;
		padding: 4px 5px 2px 5px;
		margin: 4px;
		font-size: 22px;
	}

	.nav-mobile-overlay {
		width: 75%;
		height: 100%;
		top: 0;
		left: 0;
		position: fixed;
		overflow-y: auto !important;
		display: none;
		margin-bottom: 10px;
		padding: 10px;
		background-color: rgba(0,0,0,.65);
		border-right: 1px solid #1d1d1d;
		z-index: 999;
	}

	.nav-mobile-closebtn {
		background-color: #039CFF;
		color: #000;
		border-radius: 4px;
		position: fixed;
		left: 70%;
		height: 20px;
		width: 20px;
		padding: 4px 6px 6px 6px;
		font-size: 20px;
	}

	.mainmenu-mobile > li,  .nav-mobile-overlay .admin-headline, .adminmenu-mobile > li {
		margin-bottom: 24px;
		font-size: 18px;
		color: #4E7FA8;
		font-weight: bold;
	}

	.mainmenu-mobile > li > ul, .adminmenu-mobile > li > ul {
		margin-left: 15px;
		font-weight: normal;
		font-size: 14px;
		margin-top: 6px;
	}

	.mainmenu-mobile > li > ul > li, .mainmenu-mobile > li > ul > li > ul > li, .adminmenu-mobile > li > ul > li, .adminmenu-mobile > li > ul > li > ul > li {
		margin-bottom: 5px;
	}

	.mainmenu-mobile > li > ul > li > ul, .adminmenu-mobile > li > ul > li > ul{
		margin-left: 30px;
		font-weight: normal;
		font-size: 15px;
		margin-top: 6px;
	}

	.responsive table.scrollable-x {
		table-layout: fixed;
	}

	.responsive table.scrollable-x tbody {
		display: block;
		overflow-x: auto;
	}

	.responsive fieldset.settings {
		max-width: 100%;
	}

	.responsive .permissions {
		float: none;
		width: 100%;
	}

	.responsive .ui-notify-close {
		font-size: 20px;
	}

	.responsive #mainlogo {
		max-height: 50px;
	}
	.responsive #titles {
		float: left;
		margin-left: 6px;
	}
	.responsive .nowrap.desktopOnly{
		white-space: normal;
	}

	.responsive #personalAreaUser ul li:last-child{
		margin-right: 0;
	}

	.responsive .comment_avatar_container, .responsive .comment_write_container::after, .responsive .comment_write_container::before, .comment_container::after, .comment_container::before{
		display: none;
	}
	.responsive .comment_container, .responsive #comment_button, .responsive .reply-trigger, .responsive .reply_button, .responsive .comment_write_container {
		margin-left: 6px;
	}

	.responsive .user-profile > .user-avatar img {
		height: 48px;
	}

	.responsive .comment-reply {
		margin-left: 30px;
	}

	.responsive .article_content img:not(.itt-icon):not(.classicon):not(.raceicon):not(.rankicon):not(.talenticon):not(.eventicon):not(.roleicon):not(.gameicon):not(.smilies):not(.eqdkpicon) {
		width: 100% !important;
	}

	.responsive .embed-content div iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

	.responsive .embed-content {
	  position: relative;
	  padding-bottom: 67.5%;
	  height: 0;
	  margin: 10px 0;
	  overflow: hidden;
	}

	.responsive .ui-notify {
		max-width: 95%;
	}

	.responsive .langswitch-tooltip-trigger > span {
		display: none;
	}

	.responsive .contentSidebar, .responsive .contentSidebarRight, .responsive .contentSidebarLeft {
		display: block;
		border: none;
		background: none;
	}

	.responsive .contentSidebarRight, .responsive .contentSidebarLeft {
		width: auto !important;
		border-top: 1px solid #001;
	}

	.responsive #personalAreaUser .user-avatar-smallest>img {
		margin-top: 4px;
	}
	.responsive .first.column, .responsive .third.column {
		min-width: 1% !important;
		max-width: 100% !important;
	}
	.responsive .bigDateTd {
		display: none;
	}
}

@media all and (max-width: 590px) {

	.responsive fieldset.settings dd, .responsive fieldset.settings dt{
		display:block;
		float:none;
		margin:0px;
		padding:0px;
	}

	.responsive fieldset.settings dd {
		border-left: none;
		margin: 0px;
		float:none;
	}

	.responsive fieldset.settings dt {
		width: 100%;
		border-right: none;
		float: none;
	}

	.responsive fieldset.settings dl:hover dt, .responsive fieldset.settings dl:hover dd{
		border-right: none;
		border-left: none;
	}

	.responsive .ui-tabs-nav li {
		float: none;
		width: 100%;
		height: 30px;
		line-height: 22px;
		font-size: 15px;
	}

	.responsive .ui-tabs-anchor {
		display: block;
	}

	.responsive .settings input[type='text'], .responsive .settings input[type='password'], .responsive .settings select {
		width: 90% !important;
	}

	.responsive .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		float: none;
	}

	.responsive .share-text {
		display: none;
	}

	.responsive .social-bookmarks li a.social-bookmarks-count {
		width: 50px;
	}

	.responsive #personalAreaUser ul li {
		margin-right: 10px;
	}

	.list-type1 .ribbons, .list-type2 .ribbons, .list-type3 .ribbons  {
		display: none;
	}
}
