$button-border: 1px solid #000;
$button-padding: 10px 20px;
@mixin admin-button {
  color: $color-light;
  font-size: $font-size-medium-small;
  display: block;
  padding: 10px 20px;
  border: 1px solid #000;

  &:active,
  &:hover {
    color: $color-primary;
    background: rgba(0,0,0,$background-opacity*2);
  }
}
@mixin button {
  color: $color-light;
  font-size: $font-size-medium-small;
  border: 1px solid darken($color-active-link,20%);
  background: $color-active-link;
  border-radius: 4px;

  &:active,
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  &:disabled {
    color: $color-light-gray;
  }
}
/* Buttons */
.button,
.ui-widget button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include button;

  &.mainoption, &.liteoption {
    padding: $button-padding;
  }
  &:hover {
    color: $color-light;
  }
  &:focus {
    outline: none;
  }
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  &:hover {
    background: $color-active-link;
  }
}



.ui-button,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: $color-dark-gray;
  color: $color-font-base;
  border: 1px solid $color-dark;

  &:hover {
    color: $color-primary;
    opacity: 1;
  }

  &:focus {
    outline: none;
  }
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  color: $color-active-link;

  &:hover {
    color: $color-active-link;
  }
}

.button:disabled,
.ui-widget button:disabled,
button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
  color: $color-light-gray;
  opacity: .35;

  &:hover {
    color: $color-light-gray;
    opacity: .35;
  }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include button;
}

.bigrounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

button.thirdpartylogin.facebook {
  background: #3b5998;
  color: #fff;
  border-radius: 3px;
  border-color: transparent;
}

button.thirdpartylogin.google {
  background: #dd4b39;
  color: #fff;
  border-radius: 3px;
  border-color: transparent;
}

button.thirdpartylogin.battlenet {
  background: #0e98d8;
  color: #fff;
  border-radius: 3px;
  border-color: transparent;
}

button.thirdpartylogin.persona {
  background: #448bc9;
  color: #fff;
  border-radius: 3px;
  border-color: transparent;
}

button.thirdpartylogin.openid {
  background: #d5d5d5;
  color: #000;
  border-radius: 3px;
  border-color: transparent;
}

.bubble-green.filtered {
  border: 1px solid #58E918 !important;
  background-color: rgba(88, 233, 24, 0.4);
  background-image: -moz-linear-gradient(center top , rgba(196, 249, 186, 0.4) 0%, rgba(79, 237, 63, 0.4) 50%, rgba(44, 233, 24, 0.4) 50%, rgba(26, 197, 1, 0.4) 100%);
}

.bubble-yellow.filtered {
  border: 1px solid #E9E718 !important;
  background-color: rgba(233, 231, 24, 0.4);
  background-image: -moz-linear-gradient(center top , rgba(249, 246, 186, 0.4) 0%, rgba(233, 237, 63, 0.4) 50%, rgba(233, 231, 24, 0.4) 50%, rgba(197, 181, 1, 0.4) 100%);
}

.bubble-red.filtered {
  border: 1px solid #E91823 !important;
  background-color: rgba(233, 24, 35, 0.4);
  background-image: -moz-linear-gradient(center top , rgba(249, 186, 189, 0.4) 0%, rgba(237, 63, 72, 0.4) 50%, rgba(233, 24, 34, 0.4) 50%, rgba(197, 1, 4, 0.4) 100%);
}

.bubble {
  background-color: #001;
  border-radius: 9px;
  color: #001;
  display: inline-block;
  font-size: 0.70rem;
  padding: 1px 6px;
  position: relative;
  text-shadow: none !important;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}
/* Image Buttons */
/* ToDo: they require core changes */
[class*=" bi_"],
[class^="bi_"] {
  text-indent: 0;
}

.bi_compare:before {
  content: "\f0ec";
  font-family: FontAwesome;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}

.bi_facebook:before {
  content: "\f082";
  font-family: FontAwesome;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
/*Image Button without value*/
.novalue {
  width: 24px;
}
/* general: positive/negative/neutral */
.positive {
  color: #33cc33;
  text-shadow: 0 0 1px #000;
}

.negative {
  color: #e23b30;
  text-shadow: 0 0 1px #000;
}

.neutral {
  color: #999;
  text-shadow: 0 0 1px #000;
}

.raidcal_buttonrow .td {
  padding:0;
  margin-top: $spacing;
  button {
    padding: $button-padding;
  }
}

#comment_button input[type="submit"] {
  padding: $button-padding;
}
