/* Content Container */
#contentContainer {
	z-index: 80;
}

#contentBody {
	padding: 1px;
	margin-bottom: 14px;
}

#contentBody2 {
	text-align: left;
}
/* Sidebar */
.contentSidebar {
	display: flex;
	overflow: hidden !important;
}

.contentSidebarRight {
	border-left: 1px solid #001;
	background-color: #001;
	color: #001;
	padding: 10px;
}

.contentSidebarLeft {
	border-right: 1px solid #001;
	background-color: #001;
	color: #001;
	padding: 10px;
}
/* Contrast */
.contentContrast {
	color: #001;
	background-color: #001;
	border-color: #001;
}

.contentContrast h1,
.contentContrast h2,
.contentContrast h3 {
	color: #001;
}

#contentBody table {

}

#contentFooter {
	min-height: 2.5em;
	line-height: 2.5em;
	padding-right: 5px;
	padding-left: 5px;
}

/* general: comment system */
#htmlCommentTable {
	background: none;
}

div.contentBox {
	margin-bottom: 10px;
	background: $background-panel;
	border: 1px solid $color-dark;
}

.contentBox .boxHeader {
	white-space: nowrap;
	height: 28px;
	line-height: 28px;
	text-align: left;
	padding: 0 8px;
}

.contentBox .boxContent {
	padding: 8px;
}

.contentBox .boxHeader h1 {
	color: #E9BD7F;
	font-size: $font-size-base;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	text-align: left;
	text-transform: uppercase;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

.contentBox .boxContent {
	padding: 8px;
}

.contentBox .boxContent h2 a {
	font-weight: bold;
	font-size: $font-size-base;
}

.boxContent .comment_text {
	font-size: $font-size-base;
}

.boxContent .comment_link,
.boxContent .comment_link a,
.boxContent .comment_link a:visited {
	text-decoration: underline;
}

.boxContent .comment_link a:hover {
	text-decoration: underline;
}

.debug {
	margin: 5px;
}

.page-viewnews h1.contentTitle {
	background-color: #2F2F2F;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px 2px;
	font-size: 14px;
	margin: -5px -5px 5px;
}

.pageTitle {
	font-size: 32px;
	margin-bottom: 20px;
}

.noheight {
	height: 0;
}
/* Tables */
.table {
	display: table;
	width: 100%;
}

.table.fullwidth {
	width: 100%;
	box-shadow: none !important;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
	padding: 2px;
}

.portalbox_content th,
.table th {
	font-weight: bold;
	white-space: nowrap;
	text-align: left;
	border-bottom: 1px solid $color-dark;
	border-top: 1px solid $color-dark;
	//box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset;
}

.table td,
.table th {
	line-height: 20px;
	padding: 6px;
	text-align: left;
	vertical-align: top;
}

.portalbox_content .td,
.portalbox_content td,
.portalbox_content th {
	line-height: 18px;
	/*	text-align: left;*/
	vertical-align: top;
	padding: 6px;
}

.border-top {
	border-top: 1px solid #292323;
}

.colorswitch > div:nth-child(even),
.colorswitch > td:nth-child(even),
.colorswitch tr:nth-child(even),
.portalbox_content .row1,
.table .row1 {
	background-color: #32363b;
}

.colorswitch > div:nth-child(odd),
.colorswitch > td:nth-child(odd),
.colorswitch tr:nth-child(odd),
.helpline,
.portalbox_content .row2,
.table .row2 {
	background-color: transparent;
}

.table th.footer {
	font-style: italic;
	font-weight: normal;
	text-align: right;
	border-bottom: medium none;
}

.table th a {
	text-decoration: none;
	color: inherit !important;
}

.table th a:hover {
	color: #999;
}

.table {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset;
	-moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset;
}

.contentDivider {
	display: none;
}

.contentSubheader {
	color: #9F9F9F;
	margin-bottom: 10px;
	margin-top: 4px;
}

.hoverrows > div:hover,
.hoverrows tr:hover,
.rowHover,
table tr.marked,
table tr.marked th {
	color: rgba(255, 255, 255, 0.8);
}
/* general: bbcode */
.image_resized {
	left: 0;
	top: 0;
	position: relative;
	margin: 0;
	padding: 1px;
}

.markImageResized {
	width: 32px;
	height: 32px;
	left: 10px;
	top: 10px;
	position: absolute;
	margin: 0;
	padding: 0;
	display: none;
}

.center {
	text-align: center;
}
/* Fieldsets */
fieldset.settings legend {
	border-bottom: 1px solid #292323;
	font-size: 18px;
	font-weight: bold;
	padding-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	width: 100%;
}

fieldset.settings legend.smaller {
	font-size: 14px;
}

fieldset.settings dt {
	float: left;
	width: auto;
}

fieldset.settings dd + dd {
	padding-top: 5px;
}

fieldset.settings dt {
	width: 55%;
	text-align: left;
	border: none;
	border-right: 1px solid #292323;
	padding-top: 3px;
}

fieldset.settings dd {
	margin: 0 0 0 55%;
	padding: 0 0 0 5px;
	border: none;
	border-left: 1px solid #292323;
	vertical-align: middle;
	font-size: 1.00em;
	text-align: left;
}

fieldset.settings dt.onerow {
	width: 100%;
}

fieldset.smallsettings dt {
	width: 15%;
}

fieldset.smallsettings dd {
	margin: 0 0 0 15%;
}

fieldset.mediumsettings dt {
	width: 35%;
}

fieldset.mediumsettings dd {
	margin: 0 0 0 35%;
}

fieldset.settings dl {
	margin-bottom: 10px;
	font-size: 0.95em;
	padding-bottom: 1px;
	clear: both;
}

fieldset.settings dl:after {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}

fieldset.settings dl:hover dt {
	border-right: 1px solid #000;
}

fieldset.settings dl:hover dd {
	border-left: 1px solid #000;
}

fieldset.settings dt label {
	font-size: 1.00em;
	text-align: left;
	font-weight: bold;
}

fieldset.settings dd label {
	font-size: 1.00em;
	margin: 0 10px 0 0;
}

fieldset.settings dt span {
	color: #7B7B7B;
	text-shadow: 0 0 0 #4999BA;
}

img {
	vertical-align: middle;
}
/* notify messages */
.notify_error {
	background: rgba(255, 0, 0, 0.6);
	min-height: 50px;
}

.notify_success {
	color: black;
	background: rgba(0, 255, 0, 0.6);
	min-height: 50px;
}

.notify_default {
	background: rgba(0, 0, 0, 0.6);
	min-height: 50px;
}

.ui-notify-message {
	text-align: left;
}

.ui-notify-message h1 {
	text-align: center;
}

input.ui-spinner-input,
input.ui-spinner-input:focus,
input.ui-spinner-input:hover {
	border: none;
	box-shadow: none;
}
/* general: hptt arrows */
.up_arrow_red:before {
	content: "\f0d8";
	font-family: FontAwesome;
	color: #000;
	font-size: 18px;
	margin-right: 2px;
}

.up_arrow:before,
.up_arrow_green:before {
	content: "\f0d8";
	font-family: FontAwesome;
	color: #999;
	font-size: 18px;
	margin-right: 2px;
}

.down_arrow:before,
.down_arrow_green:before {
	content: "\f0d7";
	font-family: FontAwesome;
	color: #999;
	font-size: 18px;
	margin-right: 2px;
}

.down_arrow_red:before {
	content: "\f0d7";
	font-family: FontAwesome;
	color: #000;
	font-size: 18px;
	margin-right: 2px;
}
/* Login Dialog */
#login .input-icon i,
div[aria-describedby="dialog-login"] .input-icon i {
	width: 16px;
}

div[aria-describedby="dialog-login"] .password-forgot {
	padding-bottom: 4px;
}



/* Fixes for update badges */
.sf-admin > li > a {
	min-height: 1.7em;
}
/* Fixes for update badges */
#contentBody .ui-tabs th.footer {}

.confirm_content ul {
	list-style-type: square;
	padding: 10px;
}

.confirmdialog li {
	margin-left: 30px;
	list-style: square inside none;
}

.sortable li div,
.sortable li.mjs-nestedSortable-leaf div {
	background: rgba(0, 0, 0, 0.65) !important;
}
/* Article Sitemap */
.articleSitemap,
.categoryChildSitemap {
	border-color: #DDDDDD;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	background-color: #fff;
	line-height: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: right;
	border-radius: 4px;
	min-width: 150px;
}

.articleSitemap li,
.categoryChildSitemap li {
	padding: 6px 12px;
	border-bottom: 1px solid #DDDDDD;
}

.articleSitemap li:last-child,
.categoryChildSitemap li:last-child {
	border: none;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.articleSitemap li:first-child,
.categoryChildSitemap li:first-child {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.articleSitemap li.active {
	background-color: #F7F7F9;
	cursor: default;
}

.articleSitemap li.active a {
	color: #000019;
}

.articleSitemap li:hover,
.categoryChildSitemap li:hover {
	background-color: #F7F7F9;
	cursor: default;
}

.articleSitemap li:hover a,
.categoryChildSitemap li:hover a {
	color: #000;
}

.article-container header,
.article_detail_container header {
	padding: 5px 10px;
	border: 1px solid #1A0F08;
	background-color: rgba(23, 31, 44, 0.4);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.noheader .categoryChildSitemap {
	float: none;
}

hr#system-readmore {
	display: none;
}
/* Articelcategorie childs */
.article-child-container {
	border-color: #DDDDDD;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	background-color: #fff;
	line-height: 20px;
	margin-bottom: 10px;
	border-radius: 4px;
	margin-top: 10px;
}

.article-child {
	border-bottom: 1px solid #ddd;
	padding: 5px;
}

.article-child h2 {
	border: none;
	margin-bottom: 0;
}

.article-child:last-child {
	border: none;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.article-child:first-child {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.article-container {
	line-height: 16px;
}

.article-container.list-type2 header,
.article-container.list-type2 header h3,
.article-container.list-type2 p {
	display: block !important;
}

.article-container-wrapper {
	padding-right: 10px;
	padding-left: 10px;
}
/* Big Dates for Article List */
.bigDateNumber {
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 10px;
	font-weight: 100;
	width: 100%;
	display: block;
}

.td.bigDateTd {
	display: none;
}

.bigDateContainer {
	text-align: center;
	width: 100px;
	margin-left: 2px;
	margin-right: 10px;
	display: block;
	position: relative;
}

.articleMonth {
	font-size: 2.3em;
}

.middleDateNumber {
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-weight: 100;
	width: 100%;
	display: block;
}

.middleDateTime {
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-weight: 100;
	width: 100%;
	display: block;
}

.list-type1 .td.bigDateTd,
.list-type3 .td.bigDateTd {
	width: 100px;
}

.list-type1 .td,
.list-type2 .td,
.list-type3 .td {
	vertical-align: top;
}

.list-type2 h2 {
	border-bottom: none;
}

.list-type2 .fa-calendar-o,
.list-type2 .fa-comments,
.list-type2 .fa-folder-o {
	margin-left: 10px;
}

.eventdata-details div {
	i {
		margin-right: 5px;
	}
	line-height: 2;
}
/* Article Boxes for Calendarentries */
.articleCalendarEventBox {
	display: inline-block;
	max-width: 500px;
	padding: 11px 14px;
	white-space: nowrap;
	background-color: #001;
	border: 1px solid #001;
	border-radius: 0;
	color: #001;
	margin: 5px;
}

.articleCalendarEventBoxContent {
	padding-left: 15px;
}

.articleCalendarEventBox .bigDateContainer {
	border-right-color: #001;
}

.articleCalendarEventBox .bigDateNumber {
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 5px;
}

.articleCalendarEventBox .green,
.articleCalendarEventBox .green:hover,
.articleCalendarEventBox .orange,
.articleCalendarEventBox .orange:hover,
.articleCalendarEventBox .red,
.articleCalendarEventBox .red:hover {
	background: none !important;
	border: none !important;
}

.articleCalendarEventBox .green,
.articleCalendarEventBox .green:hover {
	color: green !important;
}

.articleCalendarEventBox .orange,
.articleCalendarEventBox .orange:hover {
	color: orange !important;
}

.articleCalendarEventBox .red,
.articleCalendarEventBox .red:hover {
	color: red !important;
}

.qtip-content.ui-widget-content {
	border-radius: 3px;
}
/***************************************************
 * GENERAL: game specific
 **************************************************/
.resists {
	width: 27px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 12px !important;
}
/* general: validate error messages */
label.error {
	color: red;
	font-style: italic;
	display: inline-block;
	padding-left: 20px;
	line-height: 16px;
}

label.error:before {
	content: "\f071";
	font-family: FontAwesome;
	color: red;
	line-height: 16px;
	margin-right: 2px;
}

div.error {
	display: none;
}
/* character view */
.profile_header {
	margin: 7px 0 20px 7px;
	min-height: 48px;
}

.profile_header img {
	float: left;
	margin: 0 10px 0 0;
}

.profile_header .charname {
	font-size: 1.6em;
	font-weight: normal;
	text-align: left;
}

.profile_header.charlevel {}

.profile_header.charguild {}

.profile_picture {
	float: left;
}

.profile_picture img {
	max-width: 300px;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}
/* news */
.news_author {
	margin-top: 4px;
	margin-bottom: 10px;
}

.article_content {
	line-height: 1;
	border: 1px solid $color-dark;
	background: $background-panel;
	padding: 10px;

	p {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.news {
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
}

.news_header {
	position: relative;
}

.contentSideRight {
	text-align: left;
	border-left: 1px solid #ccc;
	padding: 15px;
	margin-left: 15px;
	margin-top: 5px;
}

.news_comments .top {
	font-size: 22px;
}

.image_zoom {
	color: #204C75;
}

.contentWidth30 {
	width: 30%;
}

.contentWidth40 {
	width: 40%;
}

.contentWidth50 {
	width: 50%;
}

.contentWidth60 {
	width: 60%;
}

.contentWidth70 {
	width: 70%;
}
/* comments */
.smilies {
	width: 20px;
	height: 20px;
}

.comment_avatar {
	vertical-align: middle;
	text-align: center;
}

.comment_avatar img {
	max-width: 100px;
	height: 70px;
	/*	border: 1px solid #ccc;*/
	border-radius: 4px;
	box-shadow: 1px 1px 2px #000000;
}

.comment_avatar_container {
	float: left;
	width: 120px;
	margin-right: 20px;
}

.comment_container,
.comment_write_container {
	position: relative;
	min-height: 68px;
	min-height: 68px;
	border-radius: 4px;
	margin-left: 130px;
	word-break: normal;
	margin-bottom: $spacing;
}

.comment_container:after,
.comment_write_container:after {

}

.comment_container:before,
.comment_write_container:before {
}

div.comment_author {
	color: #9f9f9f;
	margin-bottom: 5px;
}

.comment_text blockquote {
	margin-right: 20px;
}

#comment_button,
.reply-trigger,
.reply_button {
	margin-left: 130px;
}

.comment-reply,
.reply-form-container {
	margin-left: 110px;
}

.reply-form-container {
	margin-top: 10px;
}

.writeComments .boxHeader {
	display: none;
}

.comment_reply_container {
	clear: both;
}

.comment-reply .comment_container,
.comment-reply .comment_write_container {
	background-color: rgba(0, 37, 69, 0.7);
}

.comment-reply .comment_container:after {
	border-color: transparent #002545;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.hiddenDesktop {
	display: none;
}

.hiddenSmartphone {
	display: inline;
}

td.hiddenSmartphone,
th.hiddenSmartphone {
	display: table-cell;
}

.ui-notify h1 {
	border: none;
}

.ui-notify a:hover {
	color: #4A7FA8;
	text-decoration: underline;
}
/* Social Bookmarks */
.social-bookmarks {
	list-style-type: none !important;
}

.social-bookmarks li {
	float: left;
	margin-right: 7px;
}

.social-bookmarks li a.social-bookmarks-count {
	font-size: 12px;
	padding: 2px 4px;
	text-decoration: none;
	width: 100px;
	display: block;
	color: #fff;
	padding-left: 5px;
	border-radius: 4px;
	position: relative;
}

.social-bookmarks li a.social-bookmarks-count i,
.social-bookmarks li a.social-bookmarks-nocount i {
	font-size: 18px;
	vertical-align: middle;
}

.social-bookmarks li a.social-bookmarks-nocount {
	font-size: 12px;
	padding: 2px 4px;
	text-decoration: none;
	display: block;
	color: #fff;
	padding-left: 5px;
	border-radius: 4px;
	position: relative;
}

.social-bookmarks a.twitter {
	background-color: #55acee;
}

.social-bookmarks a.twitter:hover {
	background-color: #32bbf5;
}

.social-bookmarks a.facebook {
	background-color: #3b5998;
}

.social-bookmarks a.facebook:hover {
	background-color: #4273c8;
}

.social-bookmarks a.gplus {
	background-color: #d34836;
}

.social-bookmarks a.gplus:hover {
	background-color: #f75b44;
}

.social-bookmarks a.whatsapp {
	background-color: #42aa42;
}

.social-bookmarks .whatsapp_share {
	display: none;
}

.social-bookmarks a.whatsapp:hover {
	background-color: #268132;
}

.ismobiledevice .social-bookmarks .whatsapp_share {
	display: block;
}

.social-bookmarks .share-count {
	position: absolute;
	background: #fff;
	color: #4e5665;
	font-size: 11px;
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	border: 1px solid #9197a3;
	padding: 0 3px;
	min-width: 15px;
	right: 3px;
	line-height: 15px;
}

.share-count:before {
	content: "";
	position: absolute;
	top: 4px;
	left: -6px;
	border-style: solid;
	border-width: 4px 5px 4px 0;
	border-color: transparent #9197a3;
	display: block;
	width: 0;
	z-index: 0;
}

.share-count:after {
	content: "";
	position: absolute;
	top: 4px;
	left: -5px;
	border-style: solid;
	border-width: 4px 5px 4px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
}

.user-avatar {
	max-height: 48px;
}

.user-avatar-small,
.user-avatar-small img {
	max-height: 32px;
}

.user-avatar-smallest,
.user-avatar-smallest img {
	max-height: 24px;
}

.user-avatar-border img {
	border-radius: 4px 4px 4px 4px;
	box-shadow: 1px 1px 2px #000;
	/* background-color: #FFFFFF;
	border: 1px solid #CCCCCC; */
}

.awaytt_row {
	margin: 8px 0;
}
/* Toolbar */
.toolbar {
	cursor: pointer;
}

.toolbar-button {
	margin-left: 5px;
}

a.tool-item {
	font-size: 18px;
	font-weight: normal;
	height: 34px;
	line-height: 34px;
	color: #000;
}

a.tool-item i {
	line-height: 34px;
}
/* Notifications */
.bubble-red {
	padding-right: 6px;
	padding-left: 6px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #004BFF;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
	background-color: #e91823;
	background-image: linear-gradient(top, #F9BABD 0%, #ED3F48 50%, #E91822 50%, #C50104 100%);
	background-image: -o-linear-gradient(top, #F9BABD 0%, #ED3F48 50%, #E91822 50%, #C50104 100%);
	background-image: -ms-linear-gradient(top, #F9BABD 0%, #ED3F48 50%, #E91822 50%, #C50104 100%);
	background-image: -moz-linear-gradient(top, #F9BABD 0%, #ED3F48 50%, #E91822 50%, #C50104 100%);
	background-image: -webkit-linear-gradient(top, #F9BABD 0%, #ED3F48 50%, #E91822 50%, #C50104 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9BABD), color-stop(0.5, #ED3F48), color-stop(0.5, #E91822), color-stop(1, #C50104));
}

.bubble-yellow {
	padding-right: 6px;
	padding-left: 6px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #004BFF;
	display: inline-block;
	font-size: 15px;
	line-height: 1;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
	background-color: #E9E718;
	background-image: linear-gradient(top, #F9F6BA 0%, #E9ED3F 50%, #E9E718 50%, #C5B501 100%);
	background-image: -o-linear-gradient(top, #F9F6BA 0%, #E9ED3F 50%, #E9E718 50%, #C5B501 100%);
	background-image: -ms-linear-gradient(top, #F9F6BA 0%, #E9ED3F 50%, #E9E718 50%, #C5B501 100%);
	background-image: -moz-linear-gradient(top, #F9F6BA 0%, #E9ED3F 50%, #E9E718 50%, #C5B501 100%);
	background-image: -webkit-linear-gradient(top, #F9F6BA 0%, #E9ED3F 50%, #E9E718 50%, #C5B501 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9F6BA), color-stop(0.5, #E9ED3F), color-stop(0.5, #E9E718), color-stop(1, #C5B501));
}

.bubble-green {
	margin-right: 4px;
	padding-right: 6px;
	padding-left: 6px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #004BFF;
	display: inline-block;
	font-size: 15px;
	line-height: 1;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
	background-color: #58E918;
	background-image: linear-gradient(top, #C4F9BA 0%, #4FED3F 50%, #2CE918 50%, #1AC501 100%);
	background-image: -o-linear-gradient(top, #C4F9BA 0%, #4FED3F 50%, #2CE918 50%, #1AC501 100%);
	background-image: -ms-linear-gradient(top, #C4F9BA 0%, #4FED3F 50%, #2CE918 50%, #1AC501 100%);
	background-image: -moz-linear-gradient(top , #C4F9BA 0%, #4FED3F 50%, #2CE918 50%, #1AC501 100%);
	background-image: -webkit-linear-gradient(top, #C4F9BA 0%, #4FED3F 50%, #2CE918 50%, #1AC501 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C4F9BA), color-stop(0.5, #4FED3F), color-stop(0.5, #2CE918), color-stop(1, #1AC501));
}
/* footer */
#footer {
	text-align: center;
	color: #5A5A5A;
	font-size: 12px;
	margin-top: 20px;
}

.copyright {
	font-size: 10px;
	color: #FFF;
}

#footer a,
copyright a {
	color: rgba(255, 255, 255, 0.3);
	text-decoration: none;
}

#footer a:hover,
#impressum:hover,
copyright a:hover {
	color: #BCBCBC;
	text-decoration: underline;
}

#dialog_disclaimer {
	display: none;
}

#impressum {
	margin: 0 0 10px;
}

.button i,
a i,
button i,
i[class^="icon-"],
input[type="button"] i,
input[type="reset"] i,
input[type="submit"] i {
	padding-right: 2px;
}
/* Hack for tinymce in colorswitch tables */
.mceLayout > td:nth-child(even),
.mceLayout > td:nth-child(odd),
.mceLayout tr:nth-child(even),
.mceLayout tr:nth-child(odd),
.mceToolbar td {
	background: transparent;
	border-top: none;
	line-height: 14px;
	padding: 0 !important;
	border: none !important;
}

.mceLayout {
	border-radius: 4px;
}

.cirkuitSkin .mceIframeContainer {
	background-color: #fff;
	padding: 0 !important;
}

.cirkuitSkin td.mceToolbar {
	background-color: #2F2F2F !important;
	padding: 0 !important;
}

.cirkuitSkin table.mceLayout tr.mceLast td {
	padding: 0 !important;
	border-top: 0 !important;
	line-height: 15px !important;
}

.cirkuitSkin .mceSeparator {
	width: 6px !important;
}

#contentFooter .rss-tooltip.dropdown-menu li,
#personalAreaUser ul.dropdown-menu li {
	line-height: 2;
	float: none;
	margin-right: 0;
}

#contentFooter .rss-tooltip.dropdown-menu li:hover,
#user-tooltip li:hover {
}

#personalArea .dropdown-menu li > a,
#personalArea .dropdown-menu li > span.nolink,
.rss-tooltip.dropdown-menu li > a {
	clear: both;
	display: block;
	font-weight: normal;
	line-height: 20px;
	padding: 3px 20px;
	white-space: nowrap;
}

#contentFooter .rss-tooltip.dropdown-menu li > a:hover,
#personalArea .dropdown-menu li > a:hover {
	text-decoration: none;
	color: $color-primary;
}

ul#mychars-points-tooltip.dropdown-menu li table tbody tr td a {
	color: #333;
}

.user_tooltip_awaymode span.nolink {
	color: red !important;
}

.mychars-points-target img {
	max-height: 16px;
}

.fe-tooltip-container,
.langswitch-tooltip-container,
.mychars-points-tooltip-container,
.notification-tooltip-container,
.rss-tooltip-container,
.user-tooltip-container {
	display: inline;
	position: relative;
}

.fe-tooltip-container a,
.mychars-points-tooltip-container a,
.notification-tooltip-container a,
.user-tooltip-container a {
	cursor: pointer;
}

.user-tooltip {
	min-width: 160px;
}

.fe-tooltip,
.langswitch-tooltip-container,
.mychars-points-tooltip,
.notification-tooltip,
.rss-tooltip,
.user-tooltip {
	display: none;
}

.mychars-points-tooltip {
	padding: 10px;
}

.mychars-points-tooltip table {
	border: 0;
}

.chartooltip,
a[class*="class"],
span[class*="class"] {
	text-shadow: 0 0.5px 0.5px rgba(0,0,0,1);
}

.mychars-points-tooltip td {
	padding: 4px;
}

.mychars-points-tooltip tr.active {
	background-color: rgba(255, 255, 255, 0.1);
}

.user-tooltip-avatar {
	float: left;
	margin-right: 4px;
}

.user-tooltip-avatar img {
	height: 40px;
	max-width: 60px;
	border-radius: 4px 4px 4px 4px;
}

.user-tooltip-name {
	padding-right: 40px;
}

.tooltip-divider {
	display: block;
	border-bottom: 1px solid $color-dark;
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
}

.dropdown-menu.right-bottom {
	right: 5px !important;
	bottom: 30px !important;
	left: auto;
	top: auto;
}

.dropdown-menu.right-bottom:after {
	border-top: 6px solid #FFFFFF;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: none;
	content: "";
	display: inline-block;
	right: 10px;
	left: auto;
	top: auto;
	position: absolute;
	bottom: -6px;
}

.dropdown-menu.right-bottom:before {
	border-top: 7px solid rgba(0, 0, 0, 0.2);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: none;
	content: "";
	display: inline-block;
	right: 9px;
	left: auto;
	position: absolute;
	bottom: -7px;
	top: auto;
}

.rss-tooltip-container {
	margin-left: 10px;
}

#notification-tooltip-all {
	padding: 6px;
	color: $color-light;
}

#notification-tooltip-all h2 {
	color: $color-light;
	font-size: $font-size-base;
	white-space: nowrap;
}

blockquote {
	padding-left: 54px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 4px;
	min-height: 28px;
	position: relative;
	color: #808080;
}

blockquote:before {
	color: #808080;
	content: "\f10d";
	font-family: FontAwesome;
	font-size: 28px;
	left: 14px;
	position: absolute;
	top: 7px;
}

.selected {
	display: block;
}

table.leaderboard tbody tr td {
	border: none !important;
}

table.leaderboard tbody tr td table.borderless tbody tr td {
	/*	border-bottom: 1px solid #DDDDDD !important;
	border-top: 1px solid #DDDDDD !important;*/
}
/* Colorpicker */
.sp-replacer {
	border-radius: 4px 4px 4px 4px;
	background-color: #1D1D1D !important;
	border: 1px solid #292929 !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	padding: 4px 6px;
	color: #FFF;
}

.sp-replacer.sp-active,
.sp-replacer:hover {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0 none;
}

.sp-container {
	background-color: #1D1D1D !important;
	border: 1px solid #292929 !important;
	border-radius: 4px 4px 4px 4px;
}

.sp-picker-container {
	border-left: 1px solid #000!important;
}

.sp-cancel {
	color: #039cff !important;
}

.infotooltip td {
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.elfinder {
	font-size: 1.3em !important;
}
/* Tags */
.tags-container {
	margin-bottom: 50px;
}

.tags {
	padding: 0;
	list-style: none;
	margin-top: 5px;
}

.tags a,
.tags li {
	float: left;
	height: 24px;
	line-height: 24px;
	position: relative;
	font-size: 11px;
}

.tags.small a,
.tags.small li {
	height: 20px;
	line-height: 20px;
}

.tags a {
	margin-left: 20px;
	padding: 0 10px 0 12px;
	background: rgba(3, 156, 255, 0.5);
	color: #fff;
	text-decoration: none;
}

.tags a:before {
	content: "";
	float: left;
	position: absolute;
	top: 0;
	left: -12px;
	width: 0;
	height: 0;
	border-color: transparent rgba(3, 156, 255, 0.5) transparent transparent;
	border-style: solid;
	border-width: 12px 12px 12px 0;
}

.tags.small a:before {
	border-width: 10px 12px 10px 0;
}

.tags.small a:after {
	top: 8px;
}

.tags a:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	float: left;
	width: 4px;
	height: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	-moz-box-shadow: -1px -1px 2px #004977;
	-webkit-box-shadow: -1px -1px 2px #004977;
	box-shadow: -1px -1px 2px #004977;
}

.ui-stars-cancel a,
.ui-stars-star a {
	height: 16px;
}

ul.image-gallery {
	list-style-type: none !important;
}

ul.image-gallery li {
	float: left;
	border: 2px solid #CFCFCF;
	height: 160px;
	width: 160px;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	margin-right: 25px;
	margin-bottom: 25px;
	background-color: #fff;
}

ul.image-gallery li a {
	height: 150px;
	overflow: hidden;
	display: block;
	line-height: 150px;
}

ul.image-gallery li img {
	padding: 5px;
}

ul.image-gallery li.folder {
	text-align: center;
	overflow: hidden;
}

ul.image-gallery li.folderup {
	text-align: center;
}

ul.image-gallery li.folder a,
ul.image-gallery li.folderup a {
	line-height: 20px;
}

ul.image-gallery li.folderup i {
	font-size: 120px;
	line-height: 120px;
}

ul.image-gallery li.folder i {
	margin-top: 20px;
	font-size: 100px;
	line-height: 100px;
}

td.twinktd > * {
	vertical-align: top;
	max-height: 150px;
	align: center;
}

td.twinktd i {
	margin-top: 5px;
}
/* Colorbox */
button#cboxClose,
button#cboxNext,
button#cboxPrevious,
button#cboxSlideshow {
	box-shadow: none;
}

#cboxClose:active,
#cboxNext:active,
#cboxPrevious:active,
#cboxSlideshow:active {
	top: auto;
}

#cboxNext:after {
	margin-left: 13px;
}

#cboxPrevious {
	float: left;
}

.permalink,
.rsslink {
	display: none;
}

.article-container:hover .permalink,
.article-container:hover .rsslink,
.contentHeader:hover .permalink,
.contentHeader:hover .rsslink {
	display: inline;
}
/* Userprofile */
.user-profile > .user-avatar {
	max-height: 68px;
	float: left;
}

.user-profile > .user-avatar img {
	/*border: 1px solid #CCCCCC;*/
	border-radius: 4px 4px 4px 4px;
	box-shadow: 1px 1px 2px #000000;
	height: 68px;
}

.user-name h2 {
	border: none;
	float: left;
}

.user-name-container {
	float: left;
	margin-left: 10px;
	min-height: 68px;
}

.user-profile .user-groups {
	float: left;
	margin-left: 40px;
	margin-top: 6px;
}

.user-groups a {
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
	border-radius: 8px;
	color: rgba(255, 255, 255, 0.7);
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	margin-right: 2px;
	padding: 4px 7px;
	position: relative;
	text-shadow: none !important;
	vertical-align: middle;
	white-space: nowrap;
	line-height: 11px;
}

.user-groups a:hover {
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
	color: #FFF;
}

.user-profile .boxHeader {
	display: none;
}

.article_content ul,
.boxContent ul {
	list-style-type: square;
	padding-left: 20px;
}

.article_content ol,
.boxContent ol {
	list-style-type: decimal;
	padding-left: 20px;
}

.panel {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset;
	-moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset;
	border-radius: 0;
	margin-bottom: 15px;
}

.panel-heading {
	background-color: rgba(23, 31, 44, 0.4);
	background-image: linear-gradient(to bottom, rgba(23, 31, 44, 0.1) 0px, rgba(23, 31, 44, 0.4) 100%);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset;
	-moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #FFF;
	padding: 10px 15px;
}

.panel-body {
	background-color: rgba(23, 31, 44, 0.1);
	padding: 10px 15px;
}

.headline_inlineedit:hover:after {
	content: "\f1dd";
	font-family: FontAwesome;
	color: #9f9f9f;
	margin-left: 2px;
	font-weight: normal;
}

.article-inlineedit:hover:after {
	content: "\f1dd";
	font-family: FontAwesome;
	color: #9f9f9f;
	margin-left: 2px;
	font-weight: normal;
	position: absolute;
	top: 0;
	right: 4px;
}

.nextevent_statusrow {
	margin-right: 5px;
}

.update_available {
	line-height: 1;
}

/* Raid Sign Up Page */
.table.raidcal_buttonrow {
	box-shadow: none;
}

.roledistribution {

	.status0 {
		color: $color-confirm;
		text-transform: capitalize;
	}
	.status1 {
		color: $color-signup;
		text-transform: capitalize;
	}
	.status2 {
		color: $color-signoff;
		text-transform: capitalize;
	}

	.attendee_box {
		border: 1px solid $color-dark;

		div div:first-child {
			width: 2em;
		}
	}
	th {
		border: 1px solid $color-dark;
		background-color: $color-dark-gray;
	}
}

.notsignedpanel {
	background: $background-panel;
	opacity: 1;
	border: 1px solid $color-dark;
}

#bottommenu_admin, #bottommenu_chars {
	background: $background-panel;
	opacity: 0.9;
	width: 100%;
	color: $color-light;
}

#toogleRaidcalSignin {
	padding-bottom: $spacing;
}
