/* Header and Site-Titles */
#wrapper header {
	background: none;
}

#header {
	background: transparent url('/inde/illidan-test.jpg') no-repeat center 0px;
	display:block;
	width: 100%;
	text-align:center;
	margin-bottom: $spacing;
  box-shadow: 0 2px 3px #000;
	height: 360px;
}

#logoContainer {
	overflow: hidden;
	display:table;
}

#header .center {
  margin-left: 10px;
	margin-right:auto;
}

#header .right {
	margin-left:auto;
	margin-right:0px;
}

#header .none {
	display:none;
}

#logoArea {
	text-align:right;
	margin-top: 40px;
	img {
		width: 500px;
	}
}

#titles {
	float:left;
	text-align:left;
	padding-left:40px;

}

#titles h1 {
	padding-left:50px;
	padding-top:30px;
	font-size: 38px;
	font-weight: bold;
	color: #EEEEEE;
	margin-bottom:0px;
	padding-bottom:0px;
	text-shadow: 1px 1px 2px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}

#titles h2 {
	padding-left:50px;
	margin-top:-10px;
	padding-top:-10px;
	font-size: 18px;
	color: #EEEEEE;
}

#header, #footer {

}
